.first-button {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.first-button button {
  background-color: #08af40;
  padding: 10px;
  color: #ffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.form-heading {
  color: #000000;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 600;
  line-height: 150%;
}
.container {
  align-items: center;
}
.container form {
  margin-bottom: 7px;
}

.close {
  color: black;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(235, 11, 11);
  text-decoration: none;
  cursor: pointer;
}

.container h2 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.container input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 25px;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #ccc; /* Default border style */
  border-radius: 10px;
  outline: none;
}
.container input::placeholder {
  color: #0060b9;
}

.success-message {
  color: rgb(6, 136, 6);
  font-size: 20px;
  margin-top: 10px;
}

.success-message span {
  font-size: 30px;
  margin-right: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 45%;
  width: 100%;
  text-align: center;
  position: relative;
}
.container {
  margin-left: 15px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff0000;
}

.popup-inner img {
  max-width: 100%;
  height: auto;
}

.form-buttons {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
}

.popupButtons {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.delete-btn {
  color: var(--dl-color-custom-neutral-light);
  transition: 0.3s;
  font-family: Helvetica Neue;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 4px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ff0000;
}
.delete-btn:hover {
  background-color: rgb(189, 21, 21);
}
